body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:10px;
  width:161px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:50px;
  top:85px;
  width:97px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:127px;
  width:390px;
  height:56px;
  line-height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:56px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:300px;
  width:97px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:50px;
  top:1165px;
  width:410px;
  height:140px;
  line-height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:140px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:516px;
  width:900px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u11 {
  position:absolute;
  left:156px;
  top:484px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:495px;
  top:487px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:786px;
  top:484px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:360px;
  top:472px;
  width:10px;
  height:650px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:633px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:650px;
}
#u18 {
  position:absolute;
  left:660px;
  top:472px;
  width:10px;
  height:650px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:633px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:650px;
}
#u19 {
  position:absolute;
  left:124px;
  top:558px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:464px;
  top:558px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:224px;
  top:578px;
  width:240px;
  height:0px;
}
#u23_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:254px;
  height:20px;
}
#u24 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:464px;
  top:628px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:514px;
  top:598px;
  width:0px;
  height:30px;
}
#u27_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u28 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:124px;
  top:712px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:564px;
  top:578px;
  width:-390px;
  height:134px;
}
#u31_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:60px;
  height:20px;
}
#u31_seg1 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:134px;
}
#u31_seg2 {
  position:absolute;
  left:-400px;
  top:104px;
  width:456px;
  height:20px;
}
#u31_seg3 {
  position:absolute;
  left:-400px;
  top:104px;
  width:20px;
  height:34px;
}
#u32 {
  position:absolute;
  left:-152px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:174px;
  top:752px;
  width:290px;
  height:60px;
}
#u33_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u33_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:304px;
  height:20px;
}
#u34 {
  position:absolute;
  left:65px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:464px;
  top:792px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:754px;
  top:792px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:564px;
  top:812px;
  width:190px;
  height:0px;
}
#u39_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:204px;
  height:20px;
}
#u40 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:124px;
  top:872px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:464px;
  top:872px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:804px;
  top:832px;
  width:-240px;
  height:60px;
}
#u45_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u45_seg1 {
  position:absolute;
  left:-244px;
  top:50px;
  width:254px;
  height:20px;
}
#u46 {
  position:absolute;
  left:-140px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:464px;
  top:892px;
  width:-240px;
  height:0px;
}
#u47_seg0 {
  position:absolute;
  left:-244px;
  top:-10px;
  width:254px;
  height:20px;
}
#u48 {
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:464px;
  top:968px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:174px;
  top:912px;
  width:290px;
  height:76px;
}
#u51_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:89px;
}
#u51_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:304px;
  height:20px;
}
#u52 {
  position:absolute;
  left:58px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:243px;
  top:792px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:199px;
  top:961px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:280px;
  top:430px;
  width:70px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u58 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:374px;
  top:424px;
  width:118px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:524px;
  top:432px;
  width:70px;
  height:0px;
}
#u61_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u62 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:618px;
  top:424px;
  width:66px;
  height:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:464px;
  top:1042px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:564px;
  top:812px;
  width:0px;
  height:250px;
}
#u67_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:140px;
  height:20px;
}
#u67_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:270px;
}
#u67_seg2 {
  position:absolute;
  left:-4px;
  top:240px;
  width:140px;
  height:20px;
}
#u68 {
  position:absolute;
  left:76px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:541px;
  top:842px;
  width:209px;
  height:15px;
  color:#FF00FF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:360px;
  top:604px;
  width:150px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF00FF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:13px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:127px;
  top:618px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:60px;
  top:343px;
  width:410px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  line-height:28px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:28px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
